{% extends "template.html" %}
{% block conteudo %}

<div class="cls-form-cadastro">

    <form action="create" method="post">
        <input type="text" name="nome" id="txNome" placeholder="nome">
        <input type="text" name="categoria" id="txCategoria" placeholder="categoria">
        <input type="text" name="console" id="txConsole" placeholder="console">
        <input type="submit" value="Salvar">
    </form>

    <br>

    <a href="/" class="cls-voltar">Voltar</a>

</div>

{% endblock %}